@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,400;1,700&display=swap");


* {
  margin: 0 auto;
  padding: 0;
}


body {
  background-color: #B9EFF8 ;
}

/* ------------------------------------------- Colors ------*/
.navbar-color {
  background-color: rgba(0,185,255, 0.9);
  padding: 0;
}

/* ------------------------------------------- Headings etc ------*/

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 45px;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
}

h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin: 10px 0 10px;
}

hr {
  border: 2px solid black;
width: 50%;
  margin: 0 auto 40px;
}


/* ------------------------------------------- Header ------*/

header {
  height: 40vh;
  background-image: url(../assets/img/backgrounds/luffy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  position: relative;
}

/* ------------------------------------------- Nav ------*/

.navbar {
  z-index: 1;
}
.navbar-brand img {
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  font-size: xx-large;
}
.navbar-nav {
  margin: 0 auto;
}

.collapse .nav-item {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 2px;
  text-align: right;
  padding-right: 15px;
}

.collapse .nav-item .show {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 2px;
  text-align: right;
  padding-right: 15px;
}

/* ------------------------------------------- banner img ------*/



/* ------------------------------------------- section 1 ------*/

.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.photo {
  height: 10rem;
  margin: 0 1rem 1rem 0;
}
.photo img {
  width: auto;
  height: 100%;
}

.main-article {
  background-color: #fafafa;
  padding: 20px;
  margin-top: 0;
}

.main-article p {
  text-indent: 20px;
  text-align: left;
  font-size: 20px;
  letter-spacing: 1.1px;
  margin-bottom: 0;
}

/* ------------------------------------------- section 2 ------*/




.section-margins {
  margin-top: 50px;
}
.char-frame {
  margin: 1rem;
  background-color: #fafafa;
  text-indent: 20px;
}

.char-frame figure blockquote {
  font-size: 14px;
}
.char-frame-left {
  padding: 1em;
}

.char-frame-left img {
  margin: 0 auto;
  border: 1px solid;
  border-radius: 50%;
  max-width: 75%;
  background-color: white;
}

#luffy {
  background-color: rgba(215, 0, 0, 0.3);
}
#zoro {
  background-color: rgba(55, 89, 73, 0.3);
}
#nami {
  background-color: rgba(230, 125, 40, 0.3);
}
#usopp {
  background-color: rgba(209, 152, 51, 0.3);
}
#robin {
  background-color: rgba(89, 55, 121, 0.3);
}
#chopper {
  background-color: rgba(152, 103, 63, 0.3);
}

/* ------------------------------------------- map section ------*/







/* Style the Image Used to Trigger the Modal */
#myImg {;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}



















/* ------------------------------------------- media section ------*/
.card {
  margin-inline: auto;
  background: #09086E;
  padding: 1.25rem;
  border-radius: 3rem;
}

.card > img {
  border-radius: 1.75rem 1.75rem 1.75rem 1.75rem;
}
.card-body {
  border-radius: 0 0 1.75rem 1.75rem;
  color: white;
}

.card-body h5 {
  

}



/* ------------------------------------------- footer ------*/

footer {
    background-color: rgb(0,185,255);
}

.social-links li a i{
    width: 48px;
    height: 48px;
    padding: 24px 0;
    border-radius: 50%;
    font-size: 30px;
    line-height: 0;
    text-align: center;
    color: rgb(223,213,0);
    background-color: rgb(169,0,0);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

